<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>userList</title>
</head>
<body align="center" >
    <table id="userTable" align="center" style="border: 1px solid black">
        <tr>
            <h3>用户列表</h3>
        </tr>
        <tr>
            <td>ID</td>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
        </tr>
        <tr>
            <td id="id" name="id">0001</td>
            <td>烟火神</td>
            <td>28</td>
            <td>男</td>
        </tr>
        <tr>
            <td>0002</td>
            <td>野人</td>
            <td>30</td>
            <td>男</td>
        </tr>

    </table>
    <div align="center">
        <button>修改</button>
        <button>增加</button>
    </div>
    <div>
        ID：<input type="text" ><br>
        姓名：<input type="text" ><br>
        年龄：<input type="text" ><br>
        性别：<input type="text" ><br>

    </div>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
	<script>
		//1. jQuery中有一种编程思想 函数式编程
		$(function(){
			//让整个页面加载完成之后再执行. 以后所有的操作都应该在函数内完成!!!!
						
						/**
						 * 常见Ajax用法
						 * 1.$.get(url地址,提交数据(域名中？后面的部分),回调函数,返回值类型)
						 * 2.$.post(...)
						 * 
						 * for循环的写法
						  1.常规for循环
							  for(var i=0;i<result.length;i++){
								var user = result[i];
								console.log(user)
							  }
						  
						  2.使用in的关键字
							  //关键字 in index 代表遍历的下标
							  for(index in result){
								var user = result[index]
								console.log(user)
							  }
						 * 
						 
						  3.使用of关键字
							for(user of result){
								console.log(user)
							}
						  
						
						 * 业务需求:
						 * 	要求向后端服务器发起请求 /findAjaxUser,之后将返回值结果 进行页面解析
						 */
			// alert("jQuery调试");
			$("#id").text("0001");
			// $.get(请求地址, 提交数据, 回调函数函数, 返回值结果 )
			$.get("/findAjaxUser",{id:1, name:'tomcat'}, function(result){
				//1. result是Controller中返回的结果
				
				// console.log(result);
				/**
				 * @param {Object} user of result
				 * 2.循环遍历result
				 * 1 var i=0; i<result.length; i++
				 * 2 index in result ==> result[index];
				 * 3 user of result  ==> user
				 */
				for(user of result){
					var id = user.id;
					var name = user.name;
					var age = user.age;
					var sex = user.sex;
					var tr = "<tr><td>" + id +"</td><td>" + name + "</td><td>" + age + "</td><td>" + sex + "</td></tr>";
					$("#userTable").append(tr);
					
				}
			})
			
			$.post('findAjaxUser', {id:1, name:'tomcat'}, function(result){
				console.log("post请求成功");
			})
			
			$.getJSON("findAjaxUser", {id:1, name:'tomcat'}, function(result){
				console.log("getJSON请求执行成功");
			})
			
			//最为基本的ajax
			$.ajax({
				type: "get",
				url: "findAjaxUser",
				data: {id:1, name:'tomcat'},
				//成功后的回调函数
				success: function(result){
					console.log("ajax请求成功!!");
				},
				error: function(result){
					console.log("ajax请求失败");
					
				}
			})
		})
	</script>
</body>
</html>