<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user_list</title>
</head>
<body>
    <table>
        <tr>
            员工表
        </tr>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Sex</td>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.sex}"></td>
        </tr>
    </table>
</body>
</html>