<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body align="center">
<!--    <h3 th:text="${id}"></h3>-->
<!--    <h3 th:text="${name}"></h3>-->
    <form action="/addUser" method="POST">
        <table border="1px"  cellspacing="0" align="center" width="350px" style="margin-top: 50px">
            <tr align="center">
                <td colspan="2"><h1>表格数据提交</h1></td>
            </tr>
            <tr>
                <td>ID:</td>
                <td><input id="id" name="id" type="text"/></td>
            </tr>
            <tr>
                <td>姓名:</td>
                <td><input id="name" name="name" type="text"/></td>
            </tr>
            <tr>
                <td>年龄:</td>
                <td>
                    <input id="age" name="age" type="text" />
                </td>
            </tr>

<!--            <tr>-->
<!--                <td>爱好:</td>-->
<!--                <td>-->
<!--                    <input name="hobbys" type="checkbox" value="敲代码"/>敲代码-->
<!--                    <input name="hobbys" type="checkbox" value="敲木鱼"/>敲木鱼-->
<!--                    <input name="hobbys" type="checkbox" value="敲锣"/>敲锣-->
<!--                </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>🐕宠物ID:</td>-->
<!--                <td><input id="dogid" name="dog.id" type="text"/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>🐕宠物姓名:</td>-->
<!--                <td><input id="dogname" name="dog.name" type="text"/></td>-->
<!--            </tr>-->

            <tr>
                <td colspan="2" align="center"><button type="submit">提交</button></td>
            </tr>
        </table>
    </form>
</body>
</html>
